@font-face {
	font-family: 'Gill Sans WGL';
	src: url('GillSansWGL-Bold.eot');
	src: url('GillSansWGL-Bold.eot?#iefix') format('embedded-opentype'),
		url('GillSansWGL-Bold.woff') format('woff'),
		url('GillSansWGL-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans WGL';
	src: url('GillSansWGL-BoldItalic.eot');
	src: url('GillSansWGL-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('GillSansWGL-BoldItalic.woff') format('woff'),
		url('GillSansWGL-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans WGL';
	src: url('GillSansNova-SemiBold.eot');
	src: url('GillSansNova-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('GillSansNova-SemiBold.woff') format('woff'),
		url('GillSansNova-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans WGL';
	src: url('GillSansWGL-LightItalic.eot');
	src: url('GillSansWGL-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('GillSansWGL-LightItalic.woff') format('woff'),
		url('GillSansWGL-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans WGL';
	src: url('GillSansWGL.eot');
	src: url('GillSansWGL.eot?#iefix') format('embedded-opentype'),
		url('GillSansWGL.woff') format('woff'),
		url('GillSansWGL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans WGL';
	src: url('GillSansWGL-Italic.eot');
	src: url('GillSansWGL-Italic.eot?#iefix') format('embedded-opentype'),
		url('GillSansWGL-Italic.woff') format('woff'),
		url('GillSansWGL-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans WGL';
	src: url('GillSansWGL-Light.eot');
	src: url('GillSansWGL-Light.eot?#iefix') format('embedded-opentype'),
		url('GillSansWGL-Light.woff') format('woff'),
		url('GillSansWGL-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}